@font-face {
  font-family: "Geometria";
  src: url('../fonts/Geometria.woff') format('woff'),
       url('../fonts/Geometria.eot') format('eot'),
       url('../fonts/Geometria.ttf') format('ttf');
}

@font-face {
  font-family: "MyriadPro";
  src: url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.eot') format('eot'),
       url('../fonts/MyriadPro-Regular.ttf') format('ttf');
}